.wrapper {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
}

.block {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}

.formGroup {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    margin-bottom: 15px;
}